<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="eu.trentorise.smartcampus.viaggiarovereto"
    android:installLocation="internalOnly"
    android:versionCode="7"
    android:versionName="0.9.7" >

    <uses-sdk
        android:minSdkVersion="8"
        android:targetSdkVersion="16" />

    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.GET_ACCOUNTS" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.MANAGE_ACCOUNTS" />
    <uses-permission android:name="android.permission.AUTHENTICATE_ACCOUNTS" />
    <uses-permission android:name="android.permission.USE_CREDENTIALS" />

    <permission
        android:name="eu.trentorise.smartcampus.ac.AUTHENTICATE"
        android:protectionLevel="signature" />

    <uses-permission android:name="android.permission.READ_SYNC_STATS" />
    <uses-permission android:name="android.permission.READ_SYNC_SETTINGS" />
    <uses-permission android:name="android.permission.WRITE_SYNC_SETTINGS" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />

    <permission
        android:name="eu.trentorise.smartcampus.permission.MAPS_RECEIVE"
        android:protectionLevel="signature" />

    <uses-permission android:name="eu.trentorise.smartcampus.permission.MAPS_RECEIVE" />

    <uses-feature
        android:glEsVersion="0x00020000"
        android:required="true" />

    <application
        android:icon="@drawable/launcher"
        android:label="@string/jp_name"
        android:launchMode="singleTask"
        android:logo="@drawable/launcher"
        android:theme="@style/Theme.Journeyplanner" >
        <meta-data
            android:name="com.google.android.maps.v2.API_KEY"
            android:value="AIzaSyAYMob8Ipl_ykdVq9hkQTvFVSQMNSXn3aA" />
        <meta-data
            android:name="SHARED_PACKAGE"
            android:value="eu.trentorise.smartcampus.viaggiarovereto" />
        <meta-data
            android:name="ACCOUNT_TYPE"
            android:value="eu.trentorise.smartcampus.viaggiarovereto" />
        <meta-data
            android:name="ACCOUNT_NAME"
            android:value="@string/jp_name" />

        <!-- Uses feedback metadata -->
        <meta-data
            android:name="use-feedback"
            android:value="false" />
        <meta-data
            android:name="hidden-notification"
            android:value="false" />
        <meta-data
            android:name="follow-by-intent"
            android:value="false" />
        <!-- if true, it check version at the start -->
        <meta-data
            android:name="check-version"
            android:value="false" />
        <!-- <meta-data android:name="use-feedback" android:value="true" /> -->

        <meta-data
            android:name="option1"
            android:value="eu.trentorise.smartcampus.jp.notifications.BroadcastNotificationsActivity" />

        <activity
            android:name="eu.trentorise.smartcampus.viaggiarovereto.LauncherActivity"
            android:configChanges="screenSize|keyboardHidden|keyboard"
            android:label="@string/jp_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Journeyplanner" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data
                    android:host="smartcampuslab.it"
                    android:pathPrefix="/viaggiaroveretoapp"
                    android:scheme="http" />
                <data
                    android:host="smartcampuslab.it"
                    android:pathPrefix="/viaggiaroveretoapp"
                    android:scheme="smartcampus" />
            </intent-filter>
            <intent-filter>
                <action android:name="eu.trentorise.smartcampus.START" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="eu.trentorise.smartcampus.ac.authenticator.AuthenticationService"
            android:exported="true"
            android:permission="eu.trentorise.smartcampus.ac.AUTHENTICATE" >
            <intent-filter>
                <action android:name="android.accounts.AccountAuthenticator" />
            </intent-filter>

            <meta-data
                android:name="android.accounts.AccountAuthenticator"
                android:resource="@xml/authenticator" />
        </service>

        <activity
            android:name="eu.trentorise.smartcampus.jp.MonitorJourneyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/Theme.Journeyplanner"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.ac.authenticator.AuthenticatorActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/Theme.Journeyplanner" />
        <activity
            android:name="eu.trentorise.smartcampus.viaggiarovereto.settings.SettingsActivityity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/Theme.Journeyplanner" />
        <activity
            android:name="eu.trentorise.smartcampus.jp.HomeActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/jp_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Journeyplanner" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.jp.AddressSelectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/Theme.Journeyplanner" />
        <activity
            android:name="eu.trentorise.smartcampus.jp.StopSelectActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/Theme.Journeyplanner" />
        <activity
            android:name="eu.trentorise.smartcampus.jp.LegMapActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/Theme.Journeyplanner" />
        <activity
            android:name="eu.trentorise.smartcampus.jp.PlanJourneyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/Theme.Journeyplanner"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="eu.trentorise.smartcampus.jp.NAVIGATE" />

                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.jp.PlanRecurJourneyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/Theme.Journeyplanner"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.jp.SavedJourneyActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/Theme.Journeyplanner"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.jp.ViewActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/Theme.Journeyplanner"
            android:windowSoftInputMode="stateHidden" >
            <intent-filter>
                <action android:name="eu.trentorise.smartcampus.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />

                <data android:scheme="eu.trentorise.smartcampus.journey" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.jp.notifications.NotificationsFragmentActivityJP"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/jp_name"
            android:launchMode="singleTask"
            android:theme="@style/Theme.Journeyplanner" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />

                <action android:name="android.intent.action.VIEW" />

                <data android:mimeType="@string/notificationsprovider_mimetype_jp" />
            </intent-filter>
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.jp.ProfileActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/Theme.Journeyplanner" />
        <activity
            android:name="eu.trentorise.smartcampus.jp.notifications.BroadcastNotificationsActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/Theme.Journeyplanner" />
        <activity
            android:name="eu.trentorise.smartcampus.jp.SmartCheckActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_activity_smart_check"
            android:theme="@style/Theme.Journeyplanner" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.jp.ParkingMapActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:label="@string/title_activity_smart_check"
            android:theme="@style/Theme.Journeyplanner" />
        <activity
            android:name="eu.trentorise.smartcampus.jp.Launcher"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/Theme.Journeyplanner"
            android:windowSoftInputMode="stateHidden" >
        </activity>
        <activity
            android:name="eu.trentorise.smartcampus.jp.custom.TutorialActivity"
            android:configChanges="orientation|screenSize|keyboardHidden|keyboard"
            android:theme="@style/TutorialTheme" >
            <intent-filter>
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>

        <service
            android:name="eu.trentorise.smartcampus.viaggiarovereto.syncadapter.NotificationsSyncService"
            android:exported="false" >
            <intent-filter>
                <action android:name="android.content.SyncAdapter" />
            </intent-filter>

            <meta-data
                android:name="android.content.SyncAdapter"
                android:resource="@xml/notificationssyncadapter" />
        </service>

        <provider
            android:name="eu.trentorise.smartcampus.notifications.DummyProvider"
            android:authorities="@string/notificationsprovider_authority"
            android:exported="false"
            android:label="@string/notifications_name"
            android:syncable="true" />

        <receiver android:name="eu.trentorise.smartcampus.viaggiarovereto.UpdateNotificationReceiver" >
            <intent-filter>
                <action android:name="eu.trentorise.smartcampus.UpdateNotification" />
            </intent-filter>
        </receiver>

        <uses-library android:name="com.google.android.maps" />
    </application>

</manifest>